<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notificações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-text>Valor da chave</ion-text>
    <ion-textarea rows=4 value={{chave}}></ion-textarea>
    <br><br>
    <ion-text>Push Notification</ion-text>
    <ion-input [(ngModel)]="formulario.titulo" placeholder="Título..."></ion-input>
    <ion-input [(ngModel)]="formulario.texto" placeholder="Mensagem..."></ion-input>
    <ion-button (click)="enviarMensagem()">Enviar</ion-button>
  </div>
</ion-content>